@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    margin: 20px;
}

.toolbar {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input {
    margin-left: 15px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(24, 20px);
    grid-template-rows: repeat(24, 20px);
    gap: 1px;
    margin-bottom: 20px;
   
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.pixel:hover {
    cursor: pointer;
}

#colorpicker {
    width: 80px;
    height: 40px;
    cursor: pointer;
}

.word {
    color: #000;
    font-family: "Jersey 25";
    font-size: 1.7rem;
}

button {
    padding: 10px 15px;
    margin-left: 280px;
    cursor: pointer;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% );
    font-weight: 800;
    filter: brightness(1.2);
}

button:hover {
    filter: brightness(0.9);
}

h1 {
    font-family: "Jersey 25";
    font-size: 4rem;
    background-image: linear-gradient( 68.1deg,  rgba(196,69,69,1) 9.2%, rgba(255,167,73,0.82) 25%, rgba(253,217,82,0.82) 43.4%, rgba(107,225,108,0.82) 58.2%, rgba(107,169,225,0.82) 75.1%, rgba(153,41,243,0.82) 87.3% );
    color: transparent;
    background-clip: text;
    
}